{:kotoba.app/id "cloud.itonami.isic-2393", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifs33sb3bj3kbnx2exdcpsndimdhffzq3wnmtogpyjne5cummxyaa", :kotoba.app/embed-url "ipfs://bafkreifs33sb3bj3kbnx2exdcpsndimdhffzq3wnmtogpyjne5cummxyaa", :published {:archive "https://kotobase.net/ipfs/bafkreifs33sb3bj3kbnx2exdcpsndimdhffzq3wnmtogpyjne5cummxyaa", :size 73874, :put-status 201, :get-status 200, :at "2026-08-15T14:03:44.036Z"}}
